.tile {
    width: 4.9vh;
    height: 4.9vh;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0;
    margin: 0;
    animation-name: decaying-hover;
    animation-duration: 3s;
}

#tile-container {
    width: 90vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tile:hover {
    animation-name: on-hover;
    animation-duration: 300ms;
}

body {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes decaying-hover {
    from {
        background-color: aquamarine;
    }

    to {
        background-color: none;
    }
}

@keyframes on-hover {
    from { background-color: none;}
    to {background-color: aquamarine;}
}