.tile {
    padding: 0;
    margin: 0;
    animation-name: decaying-hover;
    animation-duration: 3s;
}

#tile-container {
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tile:hover {
    animation-name: on-hover;
    animation-duration: 300ms;
}

body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes decaying-hover {
    from {
        background-color: aquamarine;
    }

    to {
        background-color: none;
    }
}

@keyframes on-hover {
    from { background-color: none;}
    to {background-color: aquamarine;}
}

form {
    margin: 20px 0 10px 0;
}

button {
    width: 100px;
    height: 20px;
}